$title-text-color:#212121;
$accent-color:#2196F3;
$primary-white-color: #FFFFFF;
$primary-black-color: black;

$bgc-box-section: #F5F4FA;
$bgc-case-section: rgba(47, 48, 58, 0.8);
$bgc-footer:#2F303A;
$bgc-social-links:rgba(255, 255, 255, 0.1);
$bgc-body:#757575;
$border-logo-customers: #AFB1B8;
$color-footer-links: rgba(255, 255, 255, 0.6);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$shadow-card: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

$main-font: "Roboto", sans-serif;
$fonts:"Roboto", "Arial","Helvetica","sans-serif";